.header {
  background-color: var(--white);
  padding: 16px 0 69px;
}

.header_component {
  background-color: var(--grey-5);
  padding: 16px 0;
}

.header__logo {
  justify-content: center;
}

.header__title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  color: var(--grey-4);
  margin-top: 48px;
}

@media screen and (min-width: 767px) {
  .header {
    padding: 24px 0 77px;
  }
  .header_component {
    padding-bottom: 60px;
  }
  .header__logo {
    justify-content: start;
  }

  .header__title {
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    color: var(--black);
    margin-top: 38px;
  }
}
