.tabs {
  position: relative;
}
.tabs__menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 40px;
  padding: 0 0 5px;
  margin: 0;
  overflow-x: visible;
  box-sizing: border-box;
}

.tabs__input {
  position: absolute;
  left: -100vw;
  opacity: 0;
}
.tabs__menu-item {
  list-style-type: none;
}

.tabs__control {
  position: relative;
  cursor: pointer;
  display: inline-flex;
  transition: 250ms all;
  white-space: nowrap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey-3);
}

.tabs__control::after {
  content: '';
  cursor: pointer;
  display: block;
  height: 5px;
  background-color: var(--black);
  position: absolute;
  width: 100%;
  top: 100%;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.tabs__control:hover {
  color: var(--black);
}

.tabs__control:hover:after {
  transform: scaleX(1);
}

#tab1:checked ~ .tabs__nav label[for='tab1'],
#tab2:checked ~ .tabs__nav label[for='tab2'],
#tab3:checked ~ .tabs__nav label[for='tab3'],
#tab4:checked ~ .tabs__nav label[for='tab4'] {
  color: var(--black);
}

#tab1:checked ~ .tabs__nav label[for='tab1']::after,
#tab2:checked ~ .tabs__nav label[for='tab2']::after,
#tab3:checked ~ .tabs__nav label[for='tab3']::after,
#tab4:checked ~ .tabs__nav label[for='tab4']::after {
  transform: scaleX(1);
}

.tabs__tab {
  display: none;
}

#tab1:checked ~ section .tabs__tab-1,
#tab2:checked ~ section .tabs__tab-2,
#tab3:checked ~ section .tabs__tab-3,
#tab4:checked ~ section .tabs__tab-4 {
  display: block;
}
