/* Стилизация кнопки */
/* Button/Primary/Default */

:root {
  --blue-2: #4263eb;
  --blue-3: #2342c0;
  --purple-2: #5028c6;
  --alternate: var(--grey-4);
}

.button {
  width: 189px;
  height: 48px;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
  text-align: center;
  border: none;
  color: var(--white);
  cursor: pointer;
}

.button_primary {
  background-color: var(--blue-2);
}

.button_primary:hover {
  background-color: var(--blue-3);
}

.button_secondary {
  background-color: var(--secondary);
}

.button_secondary:hover {
  background-color: var(--purple-2);
}

.button_alternate {
  background-color: var(--white);
  color: var(--alternate);
  border: 1px solid var(--grey-3);
}

.button_alternate:hover {
  border: 1px solid var(--black);
}

.button_disabled {
  opacity: 50%;
  cursor: not-allowed;
}

.button_alternate_disabled {
  opacity: 30%;
  cursor: not-allowed;
}
