<section style="display: grid;  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr); column-gap: 32px; row-gap: 16px;">
  <p class="typography typography_p">DEFAULT</p>
  <button class="button button_primary">Primary</button>
  <button class="button button_secondary">Secondary</button>
  <button class="button button_alternate">Alternate</button>
  <p class="typography typography_p-disabled">DiSABLED</p>
  <button class="button button_primary" disabled>Primary</button>
  <button class="button button_secondary" disabled>Secondary</button>
  <button class="button button_alternate" disabled>Alternate</button>
</section>