<header class="header">
  <div class="container">
    <div class="header__logo logo">
      <div class="logo__box"></div>
      <div class="logo__circle"></div>
      <div class="logo__triangle"></div>
    </div>
    <h1 class="header__title">Reusable component library</h1>
  </div>
</header>
