<header class="header {{#if innerPage}}header_inner-page{{/if}}">
  <div class="container">
    <div class="header__inner">
      {{!-- {{#if sidebar}} --}}
      <button class="header__burger-button" id="burger-menu-open">
        <svg width="24" height="24">
          <use href="../assets/images/icons.svg#menu" />
        </svg>
      </button>
      {{!-- {{/if}} --}}
      <div class="header__logo logo">
        <div class="logo__box"></div>
        <div class="logo__circle"></div>
        <div class="logo__triangle"></div>
      </div>
    </div>
    <h1 class="header__title {{#if innerPage}}header__title_inner-page{{/if}}">Reusable component library</h1>
  </div>

  {{!-- {{#if sidebar}} --}}
  <div class="burger-menu" id="burger-menu">
    <header class="header burger-menu__header">
      <div class="container">
        <div class="header__inner">
          <button class="burger-menu__close" id="burger-menu-close">
            <svg width="24" height="24">
              <use href="../assets/images/icons.svg#close" />
            </svg>
          </button>
          <div class="header__logo logo">
            <div class="logo__box"></div>
            <div class="logo__circle"></div>
            <div class="logo__triangle"></div>
          </div>
        </div>
      </div>
    </header>
    <div class="container burger-menu__body">
      <div class="burger-menu__divider"></div>
      {{>sidebar this burger='burger'}}
    </div>
  </div>
  {{!-- {{/if}} --}}
</header>