<div class="accordion ">
  <details class="accordion__item" open >
    <summary class="accordion__summary">
      <p class="accordion__summary-text">Accordion item 1</p>
      <div class="accordion__arrow">
        <svg width="26" height="26">
          <use href="/assets/images/icons.svg#arrow" />
        </svg>
      </div>
    </summary>
    <p class="accordion__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
      sint. Velit officia consequat duis enim velit mollit. Exercitation
      veniam consequat sunt nostrud amet.
    </p>
  </details>
  <details class="accordion__item">
    <summary class="accordion__summary">
      <p class="accordion__summary-text">Accordion item 2</p>
      <div class="accordion__arrow">
        <svg width="26" height="26">
          <use href="/assets/images/icons.svg#arrow" />
        </svg>
      </div>
    </summary>
    <p class="accordion__text">hidden_text</p>
  </details>
  <details class="accordion__item">
    <summary class="accordion__summary">
      <p class="accordion__summary-text">Accordion item 3</p>
      <div class="accordion__arrow">
        <svg width="26" height="26">
          <use href="/assets/images/icons.svg#arrow" />
        </svg>
      </div>
    </summary>
    <p class="accordion__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis fugit
      voluptas voluptatum minima nulla laborum quaerat optio magnam ex
      nobis.
    </p>
  </details>
</div>