<div class="calendar ">
  <div class=" calendar__title">October 2019</div>
  <div class="calendar__wrapper">
    <div class="calendar__inner">
      <span class="calendar__item calendar__item_weekday">Mon</span>
      <span class="calendar__item calendar__item_weekday">Tue</span>
      <span class="calendar__item calendar__item_weekday">Wed</span>
      <span class="calendar__item calendar__item_weekday">Thu</span>
      <span class="calendar__item calendar__item_weekday">Fri</span>
      <span class="calendar__item calendar__item_weekday">Sat</span>
      <span class="calendar__item calendar__item_weekday">Sun</span>
      <span
        class="calendar__item "></span>
      <span
        class="calendar__item "></span>
      <span
        class="calendar__item "></span>
      <span
        class="calendar__item "></span>
      <span
        class="calendar__item ">1</span>
      <span
        class="calendar__item ">2</span>
      <span
        class="calendar__item ">3</span>
      <span
        class="calendar__item ">4</span>
      <span
        class="calendar__item ">5</span>
      <span
        class="calendar__item ">6</span>
      <span
        class="calendar__item ">7</span>
      <span
        class="calendar__item ">8</span>
      <span
        class="calendar__item ">9</span>
      <span
        class="calendar__item ">10</span>
      <span
        class="calendar__item ">11</span>
      <span
        class="calendar__item ">12</span>
      <span
        class="calendar__item ">13</span>
      <span
        class="calendar__item ">14</span>
      <span
        class="calendar__item ">15</span>
      <span
        class="calendar__item ">16</span>
      <span
        class="calendar__item ">17</span>
      <span
        class="calendar__item calendar__item_active">18</span>
      <span
        class="calendar__item calendar__item_between-active">19</span>
      <span
        class="calendar__item calendar__item_between-active">20</span>
      <span
        class="calendar__item calendar__item_between-active">21</span>
      <span
        class="calendar__item calendar__item_between-active">22</span>
      <span
        class="calendar__item calendar__item_active">23</span>
      <span
        class="calendar__item ">24</span>
      <span
        class="calendar__item ">25</span>
      <span
        class="calendar__item ">26</span>
      <span
        class="calendar__item ">27</span>
      <span
        class="calendar__item ">28</span>
      <span
        class="calendar__item ">29</span>
      <span
        class="calendar__item ">30</span>
      <span
        class="calendar__item ">31</span>
    </div>
  </div>
</div>