<section style="
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    column-gap: 8px;
    row-gap: 8px;
  ">
  <p class="typography typography_p typography_upper">DEFAULT</p>
  <div></div>
  <button class="button button_primary">Primary</button>
  <button class="button button_alternate">Alternate</button>
  <p class="typography typography_p typography_p-disabled typography_upper">disabled</p>
  <div></div>
  <button class="button button_primary" disabled>Primary</button>
  <button class="button button_alternate" disabled>Alternate</button>

</section>