
<div class="modal  modal_preview" id="modal">
  <div class="modal__window  modal__window_preview">
    <div class="modal__close" id="modal-close">
      <svg width="24" height="24">
        <use href="/assets/images/icons.svg#close" />
      </svg>
    </div>
    <h1 class="modal__title">Modal title</h1>
    <div class="modal__body">
      <p class="modal__text">Amet minim mollit non .</p>
      <p class="modal__text">Amet minim mollit non deserunt.</p>
    </div>
  </div>
</div>