<div class="accordion">
  <details class="accordion__item" open disabled>
    <summary class="accordion__summary">
      <p class="accordion__summary-text">Item</p>
      <div class="accordion__arrow">
        <svg width="26" height="26">
          <use href="./assets/images/icons.svg#arrow" />
        </svg>
      </div>
    </summary>
    <p class="accordion__text">
      Lorem ipsum dolor sit amet.
    </p>
  </details>
  <details class="accordion__item" disabled>
    <summary class="accordion__summary">
      <p class="accordion__summary-text">Item</p>
      <div class="accordion__arrow">
        <svg width="26" height="26">
          <use href="./assets/images/icons.svg#arrow" />
        </svg>
      </div>
    </summary>
    <p class="accordion__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </p>
  </details>
</div>