<div class="skeleton">
  <div class="skeleton__header">
    <div class="skeleton__image"></div>
    <div class="skeleton__content">
      <div class="skeleton__text skeleton__text_small"></div>
      <div class="skeleton__text skeleton__text_middle"></div>
    </div>
  </div>
  <div class="skeleton__content">
    <div class="skeleton__text"></div>
    <div class="skeleton__text"></div>
  </div>
</div>