<div class="tabs">
  <input type="radio" class="tabs__input" name="tabs" id="tab1" checked />
  <input type="radio" class="tabs__input" name="tabs" id="tab2"  />
  <input type="radio" class="tabs__input" name="tabs" id="tab3"  />
  <input type="radio" class="tabs__input" name="tabs" id="tab4"  />

  <nav class="tabs__nav">
    <div class="container">
      <ul class="tabs__menu">

        <li class="tabs__menu-item">
          <label class="tabs__control" for="tab1">All components</label>
        </li>
        <li class="tabs__menu-item">
          <label class="tabs__control" for="tab2">Elements</label>
        </li>
        <li class="tabs__menu-item">
          <label class="tabs__control" for="tab3">Containers</label>
        </li>
        <li class="tabs__menu-item">
          <label class="tabs__control" for="tab4">Templates</label>
        </li>

      </ul>
    </div>
  </nav>
  <div class="tabs__divider"></div>
  <section>
    <div class="tabs__tab tabs__tab-1">
      <div class="container">
        <div class="preview__cards">

          <div class="preview__card">
            <div class="preview__image">
            </div>
            <div class="preview__title">Tooltip</div>
          </div>
          <div class="preview__card">
            <div class="preview__image">
            </div>
            <div class="preview__title">Custom form elements</div>
          </div>
          <div class="preview__card">
            <div class="preview__image">
            </div>
            <div class="preview__title">Calendar</div>
          </div>
          <div class="preview__card">
            <div class="preview__image">
            </div>
            <div class="preview__title">Modal dialog</div>
          </div>
          <div class="preview__card">
            <div class="preview__image">
              <div class="histogram histogram_preview preview__component">
                <div class="histogram__header">
                  <p class="histogram__title">Total orders</p>
                  <a class="histogram__link">View all</a>
                </div>
                <h4 class="histogram__total">50254</h4>
                <div class="histogram__chart">
                  <div class="histogram__chart-item" style="height: 100%"></div>
                  <div class="histogram__chart-item" style="height: 70%"></div>
                  <div class="histogram__chart-item" style="height: 44%"></div>
                  <div class="histogram__chart-item" style="height: 78%"></div>
                  <div class="histogram__chart-item" style="height: 44%"></div>
                  <div class="histogram__chart-item" style="height: 60%"></div>
                  <div class="histogram__chart-item" style="height: 78%"></div>
                  <div class="histogram__chart-item" style="height: 100%"></div>
                  <div class="histogram__chart-item" style="height: 22%"></div>
                  <div class="histogram__chart-item" style="height: 44%"></div>
                  <div class="histogram__chart-item" style="height: 60%"></div>
                  <div class="histogram__chart-item" style="height: 70%"></div>
                  <div class="histogram__chart-item" style="height: 22%"></div>
                  <div class="histogram__chart-item" style="height: 100%"></div>
                  <div class="histogram__chart-item" style="height: 22%"></div>
                  <div class="histogram__chart-item" style="height: 78%"></div>
                  <div class="histogram__chart-item" style="height: 60%"></div>
                  <div class="histogram__chart-item" style="height: 44%"></div>
                  <div class="histogram__chart-item" style="height: 70%"></div>
                  <div class="histogram__chart-item" style="height: 60%"></div>
                  <div class="histogram__chart-item" style="height: 22%"></div>
                  <div class="histogram__chart-item" style="height: 60%"></div>
                  <div class="histogram__chart-item" style="height: 70%"></div>
                  <div class="histogram__chart-item" style="height: 34%"></div>
                </div>
              </div>            </div>
            <div class="preview__title">Histogram</div>
          </div>
          <div class="preview__card">
            <div class="preview__image">
            </div>
            <div class="preview__title">Avatar</div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="tabs__tab tabs__tab-2">
      <div class="container">
        <div class="preview__cards">

          <div class="preview__card">
            <div class="preview__image">
            </div>
            <div class="preview__title">Tooltip</div>
          </div>
          <div class="preview__card">
            <div class="preview__image">
            </div>
            <div class="preview__title">Custom form elements</div>
          </div>
          <div class="preview__card">
            <div class="preview__image">
              <section style="
                  display: grid;
                  grid-template-columns: repeat(2, auto);
                  grid-template-rows: repeat(2, auto);
                  column-gap: 8px;
                  row-gap: 8px;
                ">
                <p class="typography typography_p typography_upper">DEFAULT</p>
                <div></div>
                <button class="button button_primary">Primary</button>
                <button class="button button_alternate">Alternate</button>
                <p class="typography typography_p typography_p-disabled typography_upper">disabled</p>
                <div></div>
                <button class="button button_primary" disabled>Primary</button>
                <button class="button button_alternate" disabled>Alternate</button>
              
              </section>            </div>
            <div class="preview__title">Buttons</div>
          </div>
          <div class="preview__card">
            <div class="preview__image">
            </div>
            <div class="preview__title">Avatar</div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="tabs__tab tabs__tab-3">
      <div class="container">
        <div class="preview__cards">

          <div class="preview__card">
            <div class="preview__image">
            </div>
            <div class="preview__title">Custom form elements</div>
          </div>
          <div class="preview__card">
            <div class="preview__image">
            </div>
            <div class="preview__title">Calendar</div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="tabs__tab tabs__tab-4">
      <div class="container">
        <div class="preview__cards">

          <div class="preview__card">
            <div class="preview__image">
            </div>
            <div class="preview__title">Modal</div>
          </div>
          <div class="preview__card">
            <div class="preview__image">
              <div class="histogram histogram_preview preview__component">
                <div class="histogram__header">
                  <p class="histogram__title">Total orders</p>
                  <a class="histogram__link">View all</a>
                </div>
                <h4 class="histogram__total">50254</h4>
                <div class="histogram__chart">
                  <div class="histogram__chart-item" style="height: 100%"></div>
                  <div class="histogram__chart-item" style="height: 70%"></div>
                  <div class="histogram__chart-item" style="height: 44%"></div>
                  <div class="histogram__chart-item" style="height: 78%"></div>
                  <div class="histogram__chart-item" style="height: 44%"></div>
                  <div class="histogram__chart-item" style="height: 60%"></div>
                  <div class="histogram__chart-item" style="height: 78%"></div>
                  <div class="histogram__chart-item" style="height: 100%"></div>
                  <div class="histogram__chart-item" style="height: 22%"></div>
                  <div class="histogram__chart-item" style="height: 44%"></div>
                  <div class="histogram__chart-item" style="height: 60%"></div>
                  <div class="histogram__chart-item" style="height: 70%"></div>
                  <div class="histogram__chart-item" style="height: 22%"></div>
                  <div class="histogram__chart-item" style="height: 100%"></div>
                  <div class="histogram__chart-item" style="height: 22%"></div>
                  <div class="histogram__chart-item" style="height: 78%"></div>
                  <div class="histogram__chart-item" style="height: 60%"></div>
                  <div class="histogram__chart-item" style="height: 44%"></div>
                  <div class="histogram__chart-item" style="height: 70%"></div>
                  <div class="histogram__chart-item" style="height: 60%"></div>
                  <div class="histogram__chart-item" style="height: 22%"></div>
                  <div class="histogram__chart-item" style="height: 60%"></div>
                  <div class="histogram__chart-item" style="height: 70%"></div>
                  <div class="histogram__chart-item" style="height: 34%"></div>
                </div>
              </div>            </div>
            <div class="preview__title">Histogram</div>
          </div>
          <div class="preview__card">
            <div class="preview__image">
              <div class="accordion">
                <details class="accordion__item" open>
                  <summary class="accordion__summary">
                    <p class="accordion__summary-text">Item</p>
                    <div class="accordion__arrow">
                      <svg width="26" height="26">
                        <use href="./assets/images/icons.svg#arrow" />
                      </svg>
                    </div>
                  </summary>
                  <p class="accordion__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  </p>
                </details>
                <details class="accordion__item">
                  <summary class="accordion__summary">
                    <p class="accordion__summary-text">Item</p>
                    <div class="accordion__arrow">
                      <svg width="26" height="26">
                        <use href="./assets/images/icons.svg#arrow" />
                      </svg>
                    </div>
                  </summary>
                  <p class="accordion__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  </p>
                </details>
              </div>            </div>
            <div class="preview__title">Accordion</div>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>