<div class="tooltip" >
  <div class="tooltip__trigger tooltip__trigger_force-show-buble">
    <svg width="24" height="24">
      <use href="/assets/images/icons.svg#help" />
    </svg>
  </div>
  <div class="tooltip__bubble">Helper&nbsp;Text</div>
</div>