<div class="histogram preview__component">
  <div class="histogram__header">
    <p class="histogram__title">Total orders</p>
    <div class="histogram__link">View all</div>
  </div>
  <h4 class="histogram__total">50254</h4>
  <div class="histogram__chart">
    <div class="histogram__chart-item" style="height: 100%"></div>
    <div class="histogram__chart-item" style="height: 70%"></div>
    <div class="histogram__chart-item" style="height: 44%"></div>
    <div class="histogram__chart-item" style="height: 78%"></div>
    <div class="histogram__chart-item" style="height: 44%"></div>
    <div class="histogram__chart-item" style="height: 60%"></div>
    <div class="histogram__chart-item" style="height: 78%"></div>
    <div class="histogram__chart-item" style="height: 100%"></div>
    <div class="histogram__chart-item" style="height: 22%"></div>
    <div class="histogram__chart-item" style="height: 44%"></div>
    <div class="histogram__chart-item" style="height: 60%"></div>
    <div class="histogram__chart-item" style="height: 70%"></div>
    <div class="histogram__chart-item" style="height: 22%"></div>
    <div class="histogram__chart-item" style="height: 100%"></div>
    <div class="histogram__chart-item" style="height: 22%"></div>
    <div class="histogram__chart-item" style="height: 78%"></div>
    <div class="histogram__chart-item" style="height: 60%"></div>
    <div class="histogram__chart-item" style="height: 44%"></div>
    <div class="histogram__chart-item" style="height: 70%"></div>
    <div class="histogram__chart-item" style="height: 60%"></div>
    <div class="histogram__chart-item" style="height: 22%"></div>
    <div class="histogram__chart-item" style="height: 60%"></div>
    <div class="histogram__chart-item" style="height: 70%"></div>
    <div class="histogram__chart-item" style="height: 34%"></div>
  </div>
</div>