<aside class="sidebar">
  <h4 class="sidebar__title">Components</h4>
  <nav class="sidebar__content">
    {{#each this}}
    <a class="sidebar__item {{#if active}}sidebar__item_active{{/if}}" href="./{{path}}.html">{{name}}</a>
    {{/each}}
    <a class="sidebar__item"></a>
    <a class="sidebar__item" href="/index.html">Main page</a>
  </nav>
</aside>