<aside class="sidebar {{#if burger}}sidebar_burger-menu{{/if}}">
  <h4 class="sidebar__title {{#if burger}}burger-menu__title {{/if}}">Components</h4>
  <nav class="sidebar__content {{#if burger}}burger-menu__content {{/if}}">
    {{#each sidebar}}
    <a class="sidebar__item {{#if active}}sidebar__item_active{{/if}}" href="./{{path}}.html">{{name}}</a>
    {{/each}}
    <a class="sidebar__item"></a>
    <a class="sidebar__item" href="/index.html">Main page</a>
  </nav>
</aside>