{
  "extends": [
    "stylelint-config-standard"
  ],
  "rules": {
    "block-no-empty": true,
    "color-no-invalid-hex": true,
    "font-family-no-missing-generic-family-keyword": true,
    "value-no-vendor-prefix": null,
    "declaration-empty-line-before": "never",
    "at-rule-no-unknown": null,
    "function-no-unknown": null,
    "media-query-no-invalid": null,
    "no-descending-specificity": null
  }
}
