/* Стилизация аккордеона */

.accordion {}

.accordion__item {
    border: 1px solid #ACB5BD;
    box-sizing: border-box;
    border-radius: 8px;

    margin-bottom: 8px;
}

.accordion__item:last-child {
    margin-bottom: 0;
}

.accordion__summary {
    display: block;
    /* padding, а не margin, так как хотим, чтобы область оставалась кликабельной */
    padding: 24px 32px;
    cursor: pointer;
    outline: none;

    font-size: 16px;
    line-height: 24px;
    color: #212429;
}

.accordion__item[open] .accordion__summary {
    padding-bottom: 16px;
}

.accordion__summary::-webkit-details-marker {
    display: none;
}

.accordion__content {
    padding: 0 32px 32px;
}

.accordion__text {
    margin: 0;

    font-size: 16px;
    line-height: 24px;
    color: #495057;
}
