.modal {
  height: 100vh;
  width: 100vw;
  background-color: var(--grey-10);
  position: fixed;
  top: 0;
  left: 0;
  font-family: 'Inter';
  font-style: normal;
}

.modal__window {
  position: absolute;
  box-sizing: border-box;
  width: 428px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background: var(--white);
  border-radius: 8px;
  padding: 30px 40px 33px;
}

.modal__close {
  position: absolute;
  top: 12px;
  left: calc(428px - 16px - 12px);
  cursor: pointer;
}

.modal__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--blue-4);
  margin: 0 0 14px;
}

.modal__body {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey-4);
}

.modal__text {
  margin: 0;
}
