.histogram {
  border: 1px solid var(--grey-3);
  border-radius: 8px;
  padding: 8px 14px 14px;
  font-size: 8px;
  line-height: 12px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
}

.histogram_preview {
  border: none;
}

.histogram__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.histogram__title {
  color: var(--black);
  opacity: 0.8;
  margin: 0;
}

.histogram__link {
  color: var(--blue-2);
  text-decoration: none;
  margin-top: 3px;
}

.histogram__total {
  color: var(--black);
  font-size: 10px;
  line-height: 14px;
  margin: 0 0 3px;
}

.histogram__chart {
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  justify-content: flex-start;
  gap: 1px;
  align-items: flex-end;
}

.histogram__chart-item {
  flex: none;
  background-color: var(--blue-2);
  color: var(--blue-2);
  flex-basis: 5px;
}

@media screen and (min-width: 375px) {
  .histogram {
    padding: 16px 24px 24px;
    font-size: 16px;
    line-height: 24px;
  }

  .histogram_preview {
    border: 1px solid var(--grey-3);
  }

  .histogram__total {
    font-size: 20px;
    line-height: 26px;
    margin: 0 0 6px;
  }

  .histogram__chart-item {
    flex-basis: 9px;
  }
}
