:root {
  --white: #fff;
  --black: #212429;
  --black-2: rgb(33 36 41 / 5%);
  --black-3: #000;
  --pink: #f784ad;
  --purple: #7048e8;
  --purple-2: #5028c6;
  --blue: #374fc7;
  --blue-2: #4263eb;
  --blue-3: #2342c0;
  --blue-4: #334d6e;
  --blue-5: #a0b1f5;
  --blue-6: rgb(51 154 240 / 10%);
  --red: #f03d3e;
  --red-2: #d84910;
  --red-3: rgb(240 61 62 / 10%);
  --grey-1: #f8f9fa;
  --grey-2: #dde2e5;
  --grey-3: #acb5bd;
  --grey-4: #495057;
  --grey-5: #f9fafc;
  --grey-6: #e2e6e8;
  --grey-7: #f3f5f5;
  --grey-8: #e3e7ea;
  --grey-9: #90a0b7;
  --grey-10: rgb(196 196 196 / 50%);
  --grey-11: rgba(255, 255, 255, 0.46);
  --grey-12: #6b767b;
  --grey-13: #647676;
  --grey-14: #6b767e;
  --error: var(--red);
  --success: var(--blue);
  --primary: var(--blue);
  --secondary: var(--purple);
  --alternate: var(--grey-4);

  --bg-primary: var(--white);
  --bg-secondary: var(--grey-5);
  --text-primary: var(--black);
  --text-secondary: var(--grey-3);
  --text-muted: var(--grey-4);
  --text-info: var(--blue-4);
  --text-disabled: var(--grey-2);
  --bg-disabled: var(--grey-2);
  --skeleton-1: var(--grey-6);
  --skeleton-2: var(--grey-7);
  --skeleton-3: var(--grey-8);
}
