@import '../fonts/fonts.css';
@import './normalize.css';
@import '../../components/container/container.css';
@import '../../components/footer/footer.css';
@import '../../components/header/header.css';
@import '../../components/page/page.css';
@import '../../components/preview/preview.css';
@import '../../04-lection2/01-histogram/histogram.css';
@import '../../components/sidebar/sidebar.css';
@import '../../components/component/component.css';
@import '../../components/logo/logo.css';

:root {
  --white: #ffffff;
  --black: #212429;
  --black-2: rgba(33, 36, 41, 0.05);
  --black-3: #000000;
  --pink: #f784ad;
  --purple: #7048e8;
  --purple-2: #5028c6;
  --blue: #374fc7;
  --blue-2: #4263eb;
  --blue-3: #2342c0;
  --blue-4: #334d6e;
  --blue-5: #a0b1f5;
  --blue-6: rgba(51, 154, 240, 0.1);
  --red: #f03d3e;
  --red-2: #d84910;
  --red-3: rgba(240, 61, 62, 0.1);
  --grey-1: #f8f9fa;
  --grey-2: #dde2e5;
  --grey-3: #acb5bd;
  --grey-4: #495057;
  --grey-5: #f9fafc;
  --grey-6: #e2e6e8;
  --grey-7: #f3f5f5;
  --grey-8: #e3e7ea;
  --grey-9: #90a0b7;
  --grey-10: rgba(196, 196, 196, 0.5);
  --error: var(--red);
  --success: var(--blue);
  --primary: var(--blue);
  --secondary: var(--purple);
  --alternate: var(--grey-4);
  --md: 767px;
}

body {
  font-family: 'Roboto', sans-serif;
}

html,
body {
  height: 100%;
  font-size: 16px;
}
