.button {
  height: 48px;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18.75px;
  text-align: center;
  border: none;
  color: var(--white);
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  padding: 15px 14px 14px;

  &_primary {
    background-color: var(--blue-2);
    transition: background-color 200ms ease-in-out;
  }

  &_primary:hover {
    background-color: var(--blue-3);
  }

  &_secondary {
    background-color: var(--secondary);
    transition: background-color 200ms ease-in-out;
  }

  &_secondary:hover {
    background-color: var(--purple-2);
  }

  &_alternate {
    background-color: var(--white);
    color: var(--alternate);
    border: 1px solid var(--grey-3);
    transition: border-color 200ms ease-in-out;
  }

  &_alternate:hover {
    border-color: var(--black);
  }

  &:disabled {
    opacity: 50%;
    cursor: not-allowed;
  }

  &_alternate:disabled {
    opacity: 30%;
  }
}
