.radio {
  display: inline-block;
  position: relative;

  &__input {
    position: absolute;
    opacity: 0;
    left: -100vw;
  }

  &__state {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__control {
    box-sizing: border-box;
    width: 28px;
    height: 28px;
    background: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_preview &__control {
    width: 14px;
    height: 14px;

    @include respond(desktop) {
      width: 28px;
      height: 28px;
    }
  }

  &__label {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
    margin: 0;
  }

  &_preview &__label {
    font-size: 8px;
    line-height: 12px;

    @include respond(desktop) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__input:checked ~ &__state &__control {
    border: 2px solid var(--blue-2);
  }

  &__input:checked ~ &__state &__control-inner {
    width: 18px;
    height: 18px;
    background: var(--blue-2);
    border-radius: 50%;
  }

  &_preview &__input:checked ~ &__state &__control-inner {
    width: 9px;
    height: 9px;

    @include respond(desktop) {
      width: 18px;
      height: 18px;
    }
  }

  &__input:focus ~ &__state &__label {
    text-decoration: underline;
  }

  &__input:disabled ~ &__state &__control {
    background: var(--grey-2);
  }

  &__input:disabled ~ &__state &__label {
    color: var(--grey-2);
  }
}
