.skeleton {
  border: 1px solid var(--grey-3);
  border-radius: 8px;
  padding: 12px 20px 16px 12px;
  width: 100%;

  @include respond(desktop) {
    padding: 24px 40px 32px 24px;
  }

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;

    @include respond(desktop) {
      gap: 16px;
      margin-bottom: 24px;
    }
  }

  &__image {
    width: 32px;
    height: 32px;
    border-radius: 50%;

    @include respond(desktop) {
      width: 64px;
      height: 64px;
    }
  }

  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;

    @include respond(desktop) {
      gap: 8px;
    }
  }

  &__text {
    height: 10px;

    @include respond(desktop) {
      height: 20px;
    }
  }

  &__text_small {
    width: 40%;
  }

  &__text_middle {
    width: 59%;
  }

  &__image,
  &__text {
    background: linear-gradient(
      92.51deg,
      var(--bg-disabled) 6.44%,
      var(--skeleton-1) 38.47%,
      var(--skeleton-2) 56.48%,
      var(--skeleton-3) 77.5%,
      var(--bg-disabled) 102.52%
    );
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: backgroundMovement;
    animation-timing-function: linear;
    background-size: 200%;
  }

  @keyframes backgroundMovement {
    0% {
      background-position: 100%;
    }

    100% {
      background-position: -100%;
    }
  }
}
