.radio {
  display: inline-block;
  position: relative;
}

.radio__input {
  position: absolute;
  opacity: 0;
  left: -100vw;
}

.radio__state {
  display: flex;
  align-items: center;
  gap: 12px;
}

.radio__control {
  box-sizing: border-box;
  width: 28px;
  height: 28px;
  background: var(--white);
  border: 1px solid var(--grey-2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio__label {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey-4);
  margin: 0;
}

.radio__input:checked ~ .radio__state .radio__control {
  border: 2px solid var(--blue-2);
}

.radio__input:checked ~ .radio__state .radio__control-inner {
  width: 18px;
  height: 18px;
  background: var(--blue-2);
  border-radius: 50%;
}

.radio__input:focus ~ .radio__state .radio__label {
  text-decoration: underline;
}

.radio__input:disabled ~ .radio__state .radio__control {
  background: var(--grey-2);
}

.radio__input:disabled ~ .radio__state .radio__label {
  color: var(--grey-2);
}
