.tooltip {
    position: relative;
}

.tooltip__anchor {
    width: 24px;
    height: 24px;
    border: 2px solid black;
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tooltip__helper {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #DDE2E5;
    padding: 13px 21px 8px;
    background: #4263EB;
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 10px;
    position: absolute;
    white-space: nowrap;
    left: 50%;
    transform: translate(-50%, -100%);
    top: -8px;

    display: none;
}

.tooltip__helper:after {
    content: '';
    border: 14px solid transparent;
    border-top: 6px solid #4263EB;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 100%);
}

.tooltip:hover .tooltip__helper {
    display: block;
}