.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
}

.logo__box {
  width: 30px;
  height: 30px;
  background: var(--black);
}

.logo__circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: var(--black);
}

.logo__triangle {
  border: 16px solid transparent;
  border-bottom: 16px solid var(--black);
  border-left: 16px solid var(--black);
}
