<!DOCTYPE html>
<html lang="ru">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
  <script defer src="/assets/js/burger-menu.js"></script>
  <script defer src="/assets/js/modal.js"></script>
  <link rel="stylesheet" href="/build/style.css" />
  <title>Accordion</title>
</head>

<body>
  <div class="page">
    <header class="header header_inner-page">
      <div class="container">
        <div class="header__inner">
          <button class="header__burger-button" id="burger-menu-open">
            <svg width="24" height="24">
              <use href="../assets/images/icons.svg#menu" />
            </svg>
          </button>
          <a href="/index.html" class="header__logo logo">
            <div class="logo__box"></div>
            <div class="logo__circle"></div>
            <div class="logo__triangle"></div>
          </a>
        </div>
        <h1 class="header__title header__title_inner-page">Reusable component library</h1>
      </div>
    
      <div class="burger-menu" id="burger-menu">
        <header class="header burger-menu__header">
          <div class="container">
            <div class="header__inner">
              <button class="burger-menu__close" id="burger-menu-close">
                <svg width="24" height="24">
                  <use href="../assets/images/icons.svg#close" />
                </svg>
              </button>
              <a href="/index.html" class="header__logo logo">
                <div class="logo__box"></div>
                <div class="logo__circle"></div>
                <div class="logo__triangle"></div>
              </a>
            </div>
          </div>
        </header>
        <div class="container burger-menu__body">
          <div class="burger-menu__divider"></div>
          <aside class="sidebar sidebar_burger-menu">
            <h4 class="sidebar__title burger-menu__title ">Components</h4>
            <nav class="sidebar__content burger-menu__content ">
              <a class="sidebar__item " href="./button.html">Button</a>
              <a class="sidebar__item sidebar__item_active" href="./accordion.html">Accordion</a>
              <a class="sidebar__item " href="./histogram.html">Histogram</a>
              <a class="sidebar__item " href="./skeleton.html">Skeleton</a>
              <a class="sidebar__item"></a>
              <a class="sidebar__item" href="/index.html">Main page</a>
            </nav>
          </aside>    </div>
      </div>
    </header>    <main class="inner-page">
      <div class="container container_inner-page">
        <div class="inner-page__wrapper">
          <aside class="sidebar ">
            <h4 class="sidebar__title ">Components</h4>
            <nav class="sidebar__content ">
              <a class="sidebar__item " href="./button.html">Button</a>
              <a class="sidebar__item sidebar__item_active" href="./accordion.html">Accordion</a>
              <a class="sidebar__item " href="./histogram.html">Histogram</a>
              <a class="sidebar__item " href="./skeleton.html">Skeleton</a>
              <a class="sidebar__item"></a>
              <a class="sidebar__item" href="/index.html">Main page</a>
            </nav>
          </aside>          <div class="inner-page__content">
            <div class="container container_inner-page-content">
              <h3 class="inner-page__content-title">Accordion</h3>
              <div class="inner-page__content-component">
                <div class="accordion">
                  <details class="accordion__item" open>
                    <summary class="accordion__summary">
                      <p class="accordion__summary-text">Accordion item 1</p>
                      <div class="accordion__arrow">
                        <svg width="26" height="26">
                          <use href="/assets/images/icons.svg#arrow" />
                        </svg>
                      </div>
                    </summary>
                    <p class="accordion__text">
                      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                      sint. Velit officia consequat duis enim velit mollit. Exercitation
                      veniam consequat sunt nostrud amet.
                    </p>
                  </details>
                  <details class="accordion__item">
                    <summary class="accordion__summary">
                      <p class="accordion__summary-text">Accordion item 2</p>
                      <div class="accordion__arrow">
                        <svg width="26" height="26">
                          <use href="/assets/images/icons.svg#arrow" />
                        </svg>
                      </div>
                    </summary>
                    <p class="accordion__text">hidden_text</p>
                  </details>
                  <details class="accordion__item">
                    <summary class="accordion__summary">
                      <p class="accordion__summary-text">Accordion item 3</p>
                      <div class="accordion__arrow">
                        <svg width="26" height="26">
                          <use href="/assets/images/icons.svg#arrow" />
                        </svg>
                      </div>
                    </summary>
                    <p class="accordion__text">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis fugit
                      voluptas voluptatum minima nulla laborum quaerat optio magnam ex
                      nobis.
                    </p>
                  </details>
                </div>              </div>
            </div>
<div class="tabs">
  <input type="radio" class="tabs__input" name="tabs" id="tab1" checked />
  <input type="radio" class="tabs__input" name="tabs" id="tab2"  />

  <nav class="tabs__nav">
    <div class="container container_inner-page-content">
      <ul class="tabs__menu">

        <li class="tabs__menu-item">
          <label class="tabs__control" for="tab1">HTML</label>
        </li>
        <li class="tabs__menu-item">
          <label class="tabs__control" for="tab2">CSS</label>
        </li>

      </ul>
    </div>
  </nav>
  <div class="tabs__divider"></div>
  <section>
    <div class="container container_inner-page-content">
      <div class="tabs__tab tabs__tab-1">
        <pre class="tabs__pre"><code class="tabs__code html">
&lt;div class&#x3D;&quot;accordion&quot;&gt;
  &lt;details class&#x3D;&quot;accordion__item&quot; open&gt;
    &lt;summary class&#x3D;&quot;accordion__summary&quot;&gt;
      &lt;p class&#x3D;&quot;accordion__summary-text&quot;&gt;Accordion item 1&lt;/p&gt;
      &lt;div class&#x3D;&quot;accordion__arrow&quot;&gt;
        &lt;svg width&#x3D;&quot;26&quot; height&#x3D;&quot;26&quot;&gt;
          &lt;use href&#x3D;&quot;/assets/images/icons.svg#arrow&quot; /&gt;
        &lt;/svg&gt;
      &lt;/div&gt;
    &lt;/summary&gt;
    &lt;p class&#x3D;&quot;accordion__text&quot;&gt;
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
      sint. Velit officia consequat duis enim velit mollit. Exercitation
      veniam consequat sunt nostrud amet.
    &lt;/p&gt;
  &lt;/details&gt;
  &lt;details class&#x3D;&quot;accordion__item&quot;&gt;
    &lt;summary class&#x3D;&quot;accordion__summary&quot;&gt;
      &lt;p class&#x3D;&quot;accordion__summary-text&quot;&gt;Accordion item 2&lt;/p&gt;
      &lt;div class&#x3D;&quot;accordion__arrow&quot;&gt;
        &lt;svg width&#x3D;&quot;26&quot; height&#x3D;&quot;26&quot;&gt;
          &lt;use href&#x3D;&quot;/assets/images/icons.svg#arrow&quot; /&gt;
        &lt;/svg&gt;
      &lt;/div&gt;
    &lt;/summary&gt;
    &lt;p class&#x3D;&quot;accordion__text&quot;&gt;hidden_text&lt;/p&gt;
  &lt;/details&gt;
  &lt;details class&#x3D;&quot;accordion__item&quot;&gt;
    &lt;summary class&#x3D;&quot;accordion__summary&quot;&gt;
      &lt;p class&#x3D;&quot;accordion__summary-text&quot;&gt;Accordion item 3&lt;/p&gt;
      &lt;div class&#x3D;&quot;accordion__arrow&quot;&gt;
        &lt;svg width&#x3D;&quot;26&quot; height&#x3D;&quot;26&quot;&gt;
          &lt;use href&#x3D;&quot;/assets/images/icons.svg#arrow&quot; /&gt;
        &lt;/svg&gt;
      &lt;/div&gt;
    &lt;/summary&gt;
    &lt;p class&#x3D;&quot;accordion__text&quot;&gt;
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis fugit
      voluptas voluptatum minima nulla laborum quaerat optio magnam ex
      nobis.
    &lt;/p&gt;
  &lt;/details&gt;
&lt;/div&gt;</code></pre>
      </div>
    </div>
  </section>
  <section>
    <div class="container container_inner-page-content">
      <div class="tabs__tab tabs__tab-2">
        <pre class="tabs__pre"><code class="tabs__code css">
/* Стилизация аккордеона */
.accordion {
  font-family: &#x27;Inter&#x27;, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.accordion__item {
  margin-bottom: 8px;
  border: 1px solid var(--grey-3);
  border-radius: 8px;
  padding: 24px 32px;
}

.accordion__item[open] {
  padding-bottom: 32px;
}

.accordion__item:last-child {
  margin-bottom: 0;
}

.accordion__summary {
  list-style: none;
  position: relative;
}

.accordion__summary-text {
  margin: 0;
}

.accordion__summary::-webkit-details-marker {
  /* нестандартный псевдоэлемент Google Chrome */
  display: none;
}

.accordion__text {
  margin-top: 16px;
  margin-bottom: 0;
}

.accordion__arrow {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}

.accordion__item[open] .accordion__arrow {
  transform: rotate(180deg);
}
</code></pre>
      </div>
    </div>
  </section>
</div>          </div>
        </div>
      </div>
    </main>
    <footer class="footer footer_inner-page">
      <div class="container">
        <a class="footer__link" href="#"> Reusable component library </a>
      </div>
    </footer>
  </div>
  <script>hljs.highlightAll();</script>
</body>

</html>
