<!DOCTYPE html>
<!-- Главная страница -->
<html lang="ru">

<head>
  <link rel="stylesheet" href="./assets/css/main.css" />
</head>

<body>
  <div class="page">
    {{> header}}
    <main class="preview">
      {{>preview-tabs}}
    </main>
    {{> footer}}
  </div>
</body>

</html>