.burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: translateX(-100vw);
  transition: transform 250ms linear;
  background: var(--grey-5);
}

.burger-menu[data-open] {
  transform: translateX(0);
}

.burger-menu__header {
  position: relative;
  padding-bottom: 32px;
}

.burger-menu__close {
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.burger__theme {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 77px;
  border-top: 1px solid var(--grey-2);
  border-bottom: 1px solid var(--grey-2);
}

.burger__theme-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey-4);
}

@media screen and (min-width: 767px) {
  .burger-menu {
    display: none;
  }
}
