.burger-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    transform: translateX(-100vw);
    background: rgba(0, 0, 0, 0.5);
    transition: transform 200ms ease-in-out;
}

.burger-menu[data-open] {
    transform: translateZ(0);
}
