.burger-menu {
  transform: translateX(-375px);
  transition: transform 250ms linear;
}

.burger-menu__window {
  position: fixed;
  width: 375px;
  left: 0;
  top: 0;
  transform: none;
  border-radius: 0;
  padding: 0;
  height: 100vh;
  background: var(--grey-5);
}

.burger-menu__sidebar {
  display: block;
}

.burger-menu[data-open] {
  transform: translateX(0);
}

.burger-menu__header {
  background: var(--grey-5);
  position: relative;
  padding-bottom: 32px;
}

.burger-menu__close {
  position: absolute;
  padding: 4px;
  border-radius: 50%;
  background-color: var(--grey-2);
  display: inline-flex;
  left: 0;
  right: auto;
  top: 50%;
  transform: translateY(-50%);
  border: none;
}

.burger-menu__title {
  color: var(--grey-3);
}

.burger-menu__divider {
  background-color: var(--grey-2);
  height: 1px;
  margin-bottom: 24px;
}

.burger-menu__content {
  gap: 16px;
}

@media screen and (min-width: 375px) {
  .burger-menu {
    transform: translateX(-100vw);
  }
}

@media screen and (min-width: 767px) {
  .burger-menu {
    display: none;
  }
}
