.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @include respond(desktop-large) {
    padding: 0;
  }

  &_inner-page {
    padding: 0;

    @include respond(desktop) {
      padding: 0 15px;
    }
  }

  &_inner-page-content {
    @include respond(desktop) {
      padding: 0 48px;
    }
  }
}
