.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;

  &__box {
    width: 30px;
    height: 30px;
    background: var(--text-primary);
  }

  &__circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: var(--text-primary);
  }

  &__triangle {
    border: 16px solid transparent;
    border-bottom: 16px solid var(--text-primary);
    border-left: 16px solid var(--text-primary);
  }
}
