.preview {
  background: var(--grey-5);
  @include respond(desktop) {
    border-bottom: 1px solid var(--grey-2);
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 23px;
    padding: 24px 0 61px;
    @include respond(desktop) {
      gap: 30px;
      padding: 68px 0 204px;
    }
  }

  &__card {
    background: var(--white);
    box-shadow: 0px 2px 4px var(--black-2);
    display: flex;
    flex-direction: column;
    // box-sizing: border-box;
    width: 164px;
    height: 231px;
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
    @include respond(desktop) {
      width: 350px;
      height: 367px;
      border-radius: 12px;
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  &__image {
    width: 100%;
    height: 164px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--grey-2);
    @include respond(desktop) {
      border-bottom: none;
      height: 250px;
    }
  }

  &__component {
    width: 100%;
  }

  &__title {
    font-style: normal;
    text-align: center;
    color: var(--black);
    flex-grow: 1;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include respond(desktop) {
      font-family: 'Roboto';
      font-weight: 500;
      font-size: 21px;
      line-height: 25px;
    }
  }
}
