.sidebar {
  display: none;
  min-width: 229px;
  @include respond(desktop) {
    display: block;
  }

  &_burger-menu {
    display: block;
  }

  &__title {
    font-size: 20px;
    line-height: 26px;
    color: var(--black-3);
    margin: 0 0 16px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__item {
    flex-basis: 22px;
    font-size: 14px;
    line-height: 22px;
    color: var(--black);
    margin: 0;
    text-decoration: none;
  }

  &__item_active {
    color: var(--red-2);
  }
}
