<section style="
    display: grid;
    grid-template-columns: {{#if preview}}repeat(2, auto){{/if}}{{#unless preview}}repeat(4, auto) 1fr {{/unless}};
    grid-template-rows: repeat(2, 1fr);
    column-gap: {{#if preview}}8px{{/if}}{{#unless preview}}16px{{/unless}};
    row-gap: {{#if preview}}8px{{/if}}{{#unless preview}}16px{{/unless}};
    align-items: center;
  ">
  {{#unless preview}}<p class="typography typography_p typography_upper">DEFAULT</p>{{/unless}}
  <button class="button button_primary {{#if preview}} button_preview{{/if}}">Primary</button>
  {{#unless preview}}<button class="button button_secondary">Secondary</button>{{/unless}}
  <button class="button button_alternate {{#if preview}} button_preview{{/if}}">Alternate</button>
  {{#unless preview}}<div></div>{{/unless}}
  {{#unless preview}}<p class="typography typography_p typography_upper" data-disabled>disabled</p>{{/unless}}
  <button class="button button_primary {{#if preview}} button_preview{{/if}}" disabled>Primary</button>
  {{#unless preview}}<button class="button button_secondary" disabled>Secondary</button>{{/unless}}
  <button class="button button_alternate {{#if preview}} button_preview{{/if}}" disabled>Alternate</button>
  {{#unless preview}}<div></div>{{/unless}}
</section>