<!DOCTYPE html>
<html lang="ru">

<head>
  <link rel="stylesheet" href="../build/style.css" />
  <title>{{name}}</title>
</head>

<body>
  <div class="page">
    {{> header}}
    <main class="component">
      <div class="container component__container">
        <div class="component__wrapper">
          {{>sidebar sidebar}}
          <div class="component__content">
            <h3 class="component__content-title">{{name}}</h3>
            <div class="component__preview">
              {{partialStr image}}
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer footer_component">
      <div class="container">
        <a class="footer__link" href="#"> Reusable component library </a>
      </div>
    </footer>
  </div>
</body>

</html>