<div style="display: flex; flex-direction: column; gap:16px">
  {{#unless preview}}
  <div style="display: grid; 
grid-template-columns: repeat(2, auto);
grid-template-rows: repeat(2, 1fr);
 gap: 16px">
    <div class="input">
      <label class="input__label" for="default">Label</label>
      <div class="input__wrapper">
        <input type="text" id="default" class="input__control" placeholder="Placeholder" />
        <svg class="input__icon input__icon_success">
          <use href="{{#if inner-page}}.{{/if}}./assets/images/icons.svg#success" />
        </svg>
        <svg class="input__icon input__icon_error">
          <use href="{{#if inner-page}}.{{/if}}./assets/images/icons.svg#error" />
        </svg>
      </div>
    </div>
    <div class="input input_success">
      <label class="input__label" for="success">Success</label>
      <div class="input__wrapper">
        <input type="text" class="input__control" placeholder="Placeholder" value="Success" id="success" />
        <svg class="input__icon input__icon_success">
          <use href="{{#if inner-page}}.{{/if}}./assets/images/icons.svg#success" />
        </svg>
        <svg class="input__icon input__icon_error">
          <use href="{{#if inner-page}}.{{/if}}./assets/images/icons.svg#error" />
        </svg>
      </div>
    </div>
    <div class="input input_invalid">
      <label class="input__label" for="error">Error</label>
      <div class="input__wrapper">
        <input type="text" class="input__control" placeholder="Placeholder" value="Error" id="error" />
        <svg class="input__icon input__icon_success">
          <use href="{{#if inner-page}}.{{/if}}./assets/images/icons.svg#success" />
        </svg>
        <svg class="input__icon input__icon_error">
          <use href="{{#if inner-page}}.{{/if}}./assets/images/icons.svg#error" />
        </svg>
      </div>
    </div>

    <div class="input">
      <label class="input__label" for="disabled">Disabled</label>
      <div class="input__wrapper">
        <input type="text" class="input__control" placeholder="Placeholder" value="Disabled" disabled id="disabled" />
        <svg class="input__icon input__icon_success">
          <use href="{{#if inner-page}}.{{/if}}./assets/images/icons.svg#success" />
        </svg>
        <svg class="input__icon input__icon_error">
          <use href="{{#if inner-page}}.{{/if}}./assets/images/icons.svg#error" />
        </svg>
      </div>
    </div>
  </div>
  {{/unless}}
  <div style="display: grid; 
grid-template-columns: {{#if preview}}repeat(2, auto){{/if}}{{#unless preview}}repeat(3, auto) {{/unless}}; gap: 16px">
    <div style="display: flex; flex-direction: column; gap: 20px">
      <label class="checkbox {{#if preview}}checkbox_preview{{/if}}">
        <input type="checkbox" class="checkbox__input" />
        <div class="checkbox__state">
          <div class="checkbox__control">
            <svg class="checkbox__icon" viewBox="0 0 15 13">
              <use href="{{#if inner-page}}.{{/if}}./assets/images/icons.svg#check" />
            </svg>
          </div>
          <p class="checkbox__label">Default</p>
        </div>
      </label>
      <label class="checkbox {{#if preview}}checkbox_preview{{/if}}">
        <input type="checkbox" class="checkbox__input" checked />
        <div class="checkbox__state">
          <div class="checkbox__control">
            <svg class="checkbox__icon" viewBox="0 0 15 13">
              <use href="{{#if inner-page}}.{{/if}}./assets/images/icons.svg#check" />
            </svg>
          </div>
          <p class="checkbox__label">Checked</p>
        </div>
      </label>
      {{#unless preview}}
      <label class="checkbox">
        <input type="checkbox" class="checkbox__input" disabled />
        <div class="checkbox__state">
          <div class="checkbox__control">
            <svg class="checkbox__icon" viewBox="0 0 15 13">
              <use href="{{#if inner-page}}.{{/if}}./assets/images/icons.svg#check" />
            </svg>
          </div>
          <p class="checkbox__label">Disabled</p>
        </div>
      </label>
      {{/unless}}
    </div>
    <div style="display: flex; flex-direction: column; gap: 20px">
      <label class="radio {{#if preview}}radio_preview{{/if}}">
        <input type="radio" name="radio{{#if preview}}{{suffix}}{{/if}}" id="1" class="radio__input" />
        <div class="radio__state">
          <div class="radio__control">
            <div class="radio__control-inner"></div>
          </div>
          <p class="radio__label">Default</p>
        </div>
      </label>
      <label class="radio {{#if preview}}radio_preview{{/if}}">
        <input type="radio" name="radio{{#if preview}}{{suffix}}{{/if}}" id="2" class="radio__input" checked />
        <div class="radio__state">
          <div class="radio__control">
            <div class="radio__control-inner"></div>
          </div>
          <p class="radio__label">Selected</p>
        </div>
      </label>
      {{#unless preview}}
      <label class="radio">
        <input type="radio" name="radio" id="3" class="radio__input" disabled />
        <div class="radio__state">
          <div class="radio__control">
            <div class="radio__control-inner"></div>
          </div>
          <p class="radio__label">Disabled</p>
        </div>
      </label>
      {{/unless}}
    </div>
    {{#unless preview}}
    <div style="display: flex; flex-direction: column; gap: 20px">
      <label class="toggle">
        <input type="checkbox" class="toggle__input" />
        <div class="toggle__state">
          <div class="toggle__control">
            <div class="toggle__control-inner"></div>
          </div>
          <p class="toggle__label">Off</p>
        </div>
      </label>

      <label class="toggle">
        <input type="checkbox" class="toggle__input" checked />
        <div class="toggle__state">
          <div class="toggle__control">
            <div class="toggle__control-inner"></div>
          </div>
          <p class="toggle__label">On</p>
        </div>
      </label>

      <label class="toggle">
        <input type="checkbox" class="toggle__input" disabled />
        <div class="toggle__state">
          <div class="toggle__control">
            <div class="toggle__control-inner"></div>
          </div>
          <p class="toggle__label">Disabled</p>
        </div>
      </label>
    </div>
    {{/unless}}
  </div>
</div>