<div class="histogram {{#if preview}}preview__component{{/if}}">
  <div class="histogram__header">
    <p class="histogram__title">{{title}}</p>
    <div class="histogram__link">{{link}}</div>
  </div>
  <h4 class="histogram__total">{{total}}</h4>
  <div class="histogram__chart">
    {{#each chart}}
    <div class="histogram__chart-item" style="height: {{this}}"></div>
    {{/each}}
  </div>
</div>