<!DOCTYPE html>
<html lang="ru">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
  <script defer src="../assets/js/burger-menu.js"></script>
  <link rel="stylesheet" href="../build/style.css" />
  <title>{{name}}</title>
</head>

<body>
  <div class="page">
    {{> header name}}
    <main class="inner-page">
      <div class="container container_inner-page">
        <div class="inner-page__wrapper">
          {{>sidebar sidebar}}
          <div class="inner-page__content">
            <div class="container container_inner-page-content">
              <h3 class="inner-page__content-title">{{name}}</h3>
              <div class="inner-page__content-component">
                {{partialStr image}}
              </div>
            </div>
            {{>inner-page-tabs tabs}}
          </div>
        </div>
      </div>
    </main>
    <footer class="footer footer_inner-page">
      <div class="container">
        <a class="footer__link" href="#"> Reusable component library </a>
      </div>
    </footer>
  </div>
  <script>hljs.highlightAll();</script>
</body>

</html>