.preview {
  background: var(--grey-5);
  padding: 24px 0 61px;
}

.preview__cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 23px;
}

.preview__card {
  background: var(--white);
  box-shadow: 0px 2px 4px var(--black-2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 164px;
  height: 210px;
  border-radius: 8px;
}

.preview__image {
  height: 157px;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.preview__component {
  width: 100%;
}

.preview__title {
  font-style: normal;
  text-align: center;
  color: var(--black);
  width: 100%;
  height: 46px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--grey-2);
}

@media screen and (min-width: 375px) {
  .preview {
    padding: 68px 0 204px;
  }
  .preview__cards {
    gap: 30px;
  }

  .preview__card {
    width: 350px;
    height: 367px;
    border-radius: 12px;
    padding: 80px 25px 30px;
  }

  .preview__title {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    border-top: none;
  }
}
